
main {
	text-align: center;
	margin-top: 6rem;
}

.question {
	margin-top: 10rem;
	display: inline-block;
}
header {
	margin-top: 2rem;
}

header nav {
	text-align: center;
}

.brand {
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	transition: color .2s;
	color: #073642;
	text-decoration: none;
}

.brand:hover .logo {
	background: #0FA0CE;
}

.tag {
	position: relative;
	top: 10px;
}

.brand h5 {
	position: relative;
	top: 4px;
	display: inline;
}

.brand .logo {
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	transition: background .2s;
	width: 30px;
	height: 30px;
	background: #073642;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.gift-for {
	position: relative;
	left: 10px;
	top: -5px;
}

.products {
	list-style: none;
	margin: 0;
}

.product-item__button {
	display: block;
	white-space: inherit;
	line-height: 1.5;
	padding: 30px;
	height: auto;
	min-height: 315px;
}

.product-item__image {
	width: 100%;
	height: 150px;
}

.product-item__price {
	margin: 20px 0 0;
	font-size: 1.2em;
}

.first-col {
	margin-left: 0;
}

.site-footer {
	margin-top: 4em;
	text-align: center;
}

.social-list {
	list-style: none;
	margin-left: 0;
}

.social-list__item {
	display: inline;
	margin-right: 20px;
}

.social-list__item:last-of-type {
	margin-right: 0;
}

.copyright {
	color: #888;
}